files:
  "/tmp/tunnel.sh":
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/bin/sh
      >/var/log/os.log
      echo "Inciando Tunnel ------ "
      aws s3 ls >> /var/log/os.log
      aws s3 cp s3://am-natura-libraries-767746426841/interconnect.pem /tmp/
      chmod 600 /tmp/interconnect.pem
      kill -9 `ps -fea | grep ssh | grep StrictHostKeyChecking | awk '{ print $2 '}`
      ssh -o StrictHostKeyChecking=no -f -N -i /tmp/interconnect.pem -L 8443:10.50.10.249:443 interconnect@100.24.1.34
      ssh -o StrictHostKeyChecking=no -f -N -i /tmp/interconnect.pem -L 8587:187.141.109.35:8587 interconnect@100.24.1.34

commands:
  01-tunnel:
    command: sh /tmp/tunnel.sh &>/dev/null
