files:
  "/tmp/revision.sh":
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/bin/sh
      >/var/log/os.log
      date >> /var/log/os.log
      echo "--------------------------------------------" >> /var/log/os.log
      crontab -l >> /var/log/os.log 2>&1
      echo "--------------------------------------------" >> /var/log/os.log
      df -h >> /var/log/os.log
      echo "--------------------------------------------" >> /var/log/os.log
      du -sk /var/log/* | sort -n >> /var/log/os.log
      echo "--------------------------------------------" >> /var/log/os.log
      ls -l /var/log/cwpump.log  >> /var/log/os.log 2>&1
      echo "--------------------------------------------" >> /var/log/os.log
      ls -l /etc/cron.d/cwpump >> /var/log/os.log 2>&1
      echo "--------------------------------------------" >> /var/log/os.log

commands:
  01-revision:
    command: "/tmp/revision.sh"