files:
  "/etc/fuse.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      user_allow_other
      
"/etc/passwd-s3fs":
  mode: "000600"
  owner: root
  group: root
  content: |    
    AWS_KEY:AWS_SECRET
   
  "/tmp/mount_s3fs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      s3_name="974521785811-test1"
      s3_path="/"
      aws_role="aws-elasticbeanstalk-ec2-role"
      sudo mkdir -p /exos-fs
      sudo chown webapp:webapp -R /exos-fs
      s3fs $s3_name:$s3_path /exos-fs -o nonempty -o use_cache=/tmp -o allow_other -o passwd_file=/etc/passwd-s3fs

commands:
  01_enable_epel:
    command: amazon-linux-extras install -y epel
  02_install_s3fs:
    command: yum install -y s3fs-fuse
  03_fill_s3fs_key:
    command: echo $AWS_S3FS_KEY":"$AWS_S3FS_SECRET > /etc/passwd-s3fs
  04_mount_s3:
    command: /tmp/mount_s3fs.sh
