files:
  /home/ec2-user/.ssh/authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDPeKtbvDS+mzuevf/fVZ/yd6Ib0p4OkA8RCI34DjjV50OqxI0Zv8IR+g0QsrzWvN52VDXJYJuA7cE5JggPwPryvpUwv64hAZYuPA4CGe1JcgO9GIoJfo0kgIPHVBQ1oNL7N4n/J3tKBB4NNuCp/HKaLwpmF4kRcPH2CAjPGfwAGVCDYEQSLl7MiEMZNuvDnmExulfH+fCsN4laimawzQ+/in7l85XhTJ8bLtsXyYgvCs6w9UC2bqUzJMnLHtskIIZwSDc3QB8xVHAuOtT3VzBDdtpadyJ1B5oEbq9f49Vv0/dck4bpNyDMJTrlDmumwWxXO8hTK+rbXQg0/ba+hciN