files:
    "/etc/cron.d/bradescard":
        mode: "000644"
        owner: root
        group: root
        content: |
            22 00 * * * webapp /home/webapp/domiciliaciones.sh

    "/home/webapp/domiciliaciones.sh":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/bin/bash
            DB_URL="mongodb+srv://user-app-instantpayment-qa:0p5OIsxNrfM5Vtfl@instantpayment-qa.lnv1r.mongodb.net/hub_domain1"
            DOMAIN_PATH="/var/app/current/hub/pgmobj/domains/domain1"
            ROOT_PATH="/var/app/current"
            SRC_HOME="/var/app/current/hub/pgmobj/src/1.0.0"
            node /var/app/staging/hub/pgmobj/src/1.0.0/process/domiciliaciones.js
            exit 0
